<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express To-Do</title>
</head>
<body>
  <a href="/">Home</a>
  <a href="/todos">To-Do List</a>
  <h3>Skill: <%= skill.name %></h3>
    <ul>
      <li>Type: <%= skill.type %></li>
      <li>Years: <%= skill.years %></li>
    </ul>
  </li>
</body>
</html>
