<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/skills">Skills List</a>
    </div>
  </div>
</nav>